html, body {
    color: white;
    background-color: #21232A;
    display: inline-block;
    font-family: "Helvetica Neue", Arial, Helvetica;
    padding: 10px 5px;
    margin: 25px 15px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: aquamarine;
    transition: background-color .35s ease-in;
}

button:hover {
    background-color: rgb(3, 130, 87);
    color: white;
    font-weight: bold;
}
